<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Black Lodge</title>
    <link type="text/css" rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1 class="green-glow">It's <%= @game.current_turn.name%>'s turn</h1>
        </header>
        <p><%= @game.player1.name %>: <%= @game.player1.health %>HP</p>
        <p><%= @game.player2.name %>: <%= @game.player2.health %>HP</p>
        <form action="/attack">
         <button type="submit" value="Attack">Attack</button>
        </form>
    </div>
</body>
</html>